.topo{
    width: 100%; height: 80px; background-color: #fff; font-size: 20px; color: #163550;
}

.titulo{ background-color:#fff; color: #163550; width: 900px; 
  height: 40px; margin: auto; margin-bottom: 20px; text-align: center; 
}

.form1{ background-color:#ebf3fa; width: 800px; height: 90px; margin: auto;
  margin-top: 22px; text-align: center; padding-top: 30px; border-radius: 10px; border: 1px #ccc solid;
}

.form2{ background-color:#ebf3fa; width: 800px; height: 190px; margin: auto;
  margin-top: 12px; text-align: center; padding-top: 30px; border-radius: 10px; border: 1px #ccc solid;
}

.form3{ background-color:#ebf3fa; width: 800px; height: 300px; margin: auto;
  margin-top: 8px; margin-bottom: 60px; text-align: center; padding-top: 20px; border-radius: 10px; border: 1px #ccc solid;
}

.form4{ background-color:#ebf3fa; width: 800px; height: 210px; margin: auto;
  margin-top: 8px; margin-bottom: 60px; text-align: center; padding-top: 20px; border-radius: 10px; border: 1px #ccc solid;
}

.form5{ background-color:#ebf3fa; width: 800px; height: 390px; margin: auto;
  margin-top: 22px; margin-bottom: 60px; text-align: center; padding-top: 20px; border-radius: 10px; border: 1px #ccc solid;
}

.form6{ background-color:#ebf3fa; width: 800px; height: 120px; margin: auto;
  margin-top: 22px; margin-bottom: -10px; text-align: center; padding-top: 20px; border-radius: 10px; border: 1px #ccc solid;
}

.corpo{
  width: 900px; height: 1150px; margin: auto; border: #ccc 1px solid;
}
.toporel{
  width: 100%; height: 130px; background-color: #fff; font-size: 20px; color: #000; border: 1px solid #000;
}

.modal-header {
  padding: 15px;
  border-bottom: none;
}

.aba{ width:800px; margin:auto; margin-top:10px; margin-bottom:-20px; background-color:#FFF; cursor:pointer;}

.conteudo{ width: 90%; margin:auto; min-height: 400px;}

.home{background-color:#163550; width: 100%; height: 700px; margin: auto;
  margin-top: 20px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}

.lado-esquerdo{
  background-color: #fff; width: 300px; height: 660px; margin: auto; float: left;
  margin-top: 10px; margin-left: 30px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}

.meio{
  background-color: #fff; width: 420px; height: 100px; margin: auto; float: left;
  margin-top: 10px; margin-left: 10px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}

.lado-direito{
  background-color: #fff; width: 420px; height: 100px; margin: auto; float: left;
  margin-top: 10px; margin-left: 10px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}

.graf1{
  background-color: #fff; width: 850px; height: 550px; margin: auto; float: left;
  margin-top: 10px; margin-left: 10px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}

#grafico{
  width: 800px; height: 450px; margin:auto; background-color: #fff;
}

.tabela{
  background-color: #fff; width: 250px; height: 570px; margin: auto;
  margin-top: 10px; text-align: center; padding-top: 10px; 
  border-radius: 10px; border: 1px #ccc solid;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #163550;
  color: white;
  text-align: center;
  padding-top: 7px;
  margin-top: 150px;
  font-size: 17px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default {
  background-color: #163550;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  /* Aqui a cor do texto */
  color: #fff;
  /* Aqui o tamanho do texto */
  font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /* Aqui a cor do texto on hover*/
  color: #00ccff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #ff0;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /* Aqui a cor do texto principal*/
  color: #333;
  /* Aqui a cor fundo do texto principal*/
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #163550;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a {
  color: #163550;
  border: 1px solid #ddd;
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    /* Aqui o tamanho do texto no dropdown*/
    font-size: 16px;
    text-align: left;
    list-style: none;
    /* Aqui a cor fundo do dropdown*/
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  /* Aqui a cor fundo do texto dropdown*/
  background-color: #d7e6f4;
}